.wrapper{
    width: 1180px;
    margin: 0 auto;
    background: white;
}
.title{
    font-size: 2.8rem;
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;

}
.wrapper > form {
    padding: 0;
}

/* ============================================ 검색창 */
.noticeSearchForm {
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    width: 254px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.noticeSearchForm > div {
    padding: 0;

}
.noticeSearchForm > div > select {
    height: 100%;

    border: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    cursor: pointer;
}

.noticeSearchForm > input {
    border: transparent;
}
.noticeSearchForm > button {
    padding-top: 3px;

    background-color: transparent;
    border: transparent;

    cursor: pointer;
}

.noticeSearchForm > button> img {
    width: 20px;
    height: 20px;
}
.noticeSearchForm > button:hover {
    background-color:#eee;

    transition: 0.4s;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.noticeSearchForm > div > select:focus,
.noticeSearchForm > input:focus {
    border: transparent;
    outline: transparent;
}
/* ========================================= 폼과 버튼 정렬 */

.formBtnArray {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formBtnArray > div {
    display: flex;
    align-items: center;

}
.formBtnArray > div button {
    margin-left: 5px;
    padding: 5px 10px;

    border: transparent;
    border-radius: 5px;

    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}
.formBtnArray > div button:hover {
    background-color: #111;
    transition: 0.4s;
}

/* ==================================================== 테이블 */
table {
    width:100%;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

th {
    font-size: 1.8rem;
    font-weight: 600;
    color: #111;
    padding: 10px 0;
    background-color: #d7ecdf;

}
td {
    font-size: 1.6rem;
    border-bottom: #ddd 1px solid;
}

td > button {

    width: 32px;
    height: 30px;
    padding: 0px;
    margin: 5px;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
td > button:hover {
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    transition: 0.4s;

}

th.NoticeNum, td.truetdNum {
    width : 10%;
}
th.NoticeTitle, td.truetdTitle {
    width: 20%;
}
td.truetdTitle > a {
    display: block;
    color: #333;
    font-size: 1.6rem;
}
td.truetdNum > input {
    width: 80%;
    border: transparent 2px solid;
    text-align: center;

    font-size: 1.6rem;
}
td.truetdNum > input:focus {
    border-bottom: #eee 2px solid;
    outline: none;
}

table, td, th {
    border-collapse : collapse;
    text-align: center;
    vertical-align: middle;
}
/* ================================================ 이미지 */
.noticeImg {
    width: 10px;
    height: 10px;
}
/* ================================================ 버튼*/
.btnArray {
    display: flex;
    justify-content: end;
}

.modBtns {
    border: transparent;
    border-radius: 5px;

    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    color: #fff;
    font-size: 1.4rem;

    padding: 5px 10px;
    margin: 0 0 10px 5px;

    cursor: pointer;
}
input.modBtns:hover {
    background-color: #111;
    transition: 0.4s;
}
/* ================================================ 페이지네이션 */
.pagination{
    margin: 30px 0 0 0;
    padding: 0;
}


.pagination > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination > ul > li:hover {
    background-color: #eee;
    transition: 0.4s;
}
.paginationNum {
    width: 30px;
    height: 30px;
    border-collapse: collapse;
    margin: 0;

    border: 1px solid #e6e6e6;
}
.paginationNum > a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 5px 10px 8px 11px;
    vertical-align: center;
    text-align: center;

    font-size: 1.7rem;
}

.pageMoveBtn > img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    object-fit: cover;

}
.pageDoubleMoveBtn > img {
    width: 30px;
    height: 30px;
}

.pageMoveBtn,
.pageDoubleMoveBtn
{
    display: inline-block;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #e6e6e6;
}

a.active {
    background-color: #f6f7f8;
}