.wrapper{
    width: 1180px;
    margin: 0 auto;
    background: white;
}
/*==================================== 제목 */
.wrapper > h1 {
    font-size: 2.8rem;
    color: #333;
    padding: 20px 0;
}

.wrapper > form > div:first-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.noticeTitle {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    border-top: #333 solid 2px;
    border-bottom : 1px solid #ddd;
}

.noticeTitle > input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: transparent;
    background-color: transparent;

    font-size: 2.2rem;
    font-weight: 600;
}

/* ================================ 파일 */
.fileList {
    margin-top : 10px;
    border: 1px solid #eee;

}
.fileInput {
    font-size: 1.4rem;
}
#newPreview > p {
    font-size: 1.4rem;
    padding-left: 10px;
}
#newPreview > p:hover {
    background-color: #eeeeee;
    transition: 0.2s;
}

#newPreview > p > button {
    width: 25px;
    height: 25px;
    padding: 0px;
    margin: 5px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* ======================================= 수정 취소 버튼 */
.noticebtns {
    margin: 10px 0 5px 0;
    display: flex;
    justify-content: end;
}
.noticebtns > a {
    padding: 8px 11px;
    margin: 0 0 0 5px;
    border :transparent;
    border-radius: 5px;

    background-color: #333;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;

    cursor: pointer;
}
.noticebtns > a:hover {
    background-color: #111;
    color: #fff;
    transition: 0.2s;
}
