td {
    text-align: center;
}
.comment{
    text-align: start;
}
h4{
    text-align: start;
}
.form-container {
    display: flex;
    align-items: center;
}
.form-control{
    width: 380px;
    height: 30px;
    margin-right: 10px;
    resize: none; /* 크기 변경 비활성화 */
}
.btn-secondary{
    height: 35px;
    width: 100px;
}
.commentBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    text-align: center;
    width: 10px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    cursor: pointer;
}

.star-rating :checked ~ label {
    -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    -webkit-text-fill-color: #FFFF00;
}

.star{
    font-size: 20px;
}
.star-rating{
    width: 110px;
}
.modifyBtn{
    text-align: center;
    width: 200px;
}
.modifyBtn > *{
    font-size: 14px;
    border: 0;
    background-color: transparent;
    color: #999;
}
.Times{
    font-size: 15px;
    color: #666;
}
.ReplyStar{
    -webkit-text-fill-color: gold;
    font-weight: bold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    -webkit-text-fill-color: #FFFF00;
}

.ContStar{

    font-size: 15px;
    font-weight: bold;
    color: gold;
}