
/*.wrapper {*/
/*  width: calc(100vw - (100vw - 100%));*/
/*  */
/*  height: 100vh;*/
/*}*/




/* ============= 메인 ========================== */
main {
  width:  1180px;
  margin: 40px auto 0;
}

#mainContentsImages {
  margin-bottom: 50px;
}

.mainContentsImagesWrapper {
  width: 100%;
  height: 550px;
  border-radius: 15px;
  display: flex;
  /*justify-content: center;*/
  flex-flow: column wrap;

  overflow: hidden;
}

.mainContentsImagesWrapper div {
  /*overflow: hidden;*/
}

.mainContentsImagesWrapper div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainContentsImagesWrapper > div:nth-child(1) {
  width: 897px;
  height: 100%;
}

.mainContentsImagesWrapper > div:nth-child(2) {
  width: 267px;
  height: 267px;
  margin: 0 0 16px 16px;

}

.mainContentsImagesWrapper > div:nth-child(3) {
  width: 267px;
  height: 267px;
  margin: 0 0 0 16px;
  object-fit: scale-down;

}
.slider { /* ============================= 슬라이더 */
  position: relative;
  height: 500px;
  overflow-y: hidden;
  
}
.contentFigCaption { /* ========================= 이미지 인덱스 */
  position: absolute;
  background-color: rgba(2, 2, 2, 0.7) ;

  border-radius: 10px;
  padding: 5px 10px;

  bottom: 15px;
  right: 12px;
}
.contentFigCaption > figcaption >span{
  font-size: 1.6rem;
  color: #fff;

}
main .contentInfo {
  margin-top: 10px;
  display: flex;
  flex-direction : row;
  flex-wrap: nowrap;

  justify-content: space-evenly;
}
/* 지도 */
main .contentInfo > div:first-child  {
  border: #ccc 1px solid;
  box-sizing: border-box;
  width: 50%;
  
  
}
main .contentInfo > div:first-child >img {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
}


/* 콘텐츠 정보 */
.summaryDesc {
  width: 50%;
  height: 500px;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
  justify-content: space-between;

  position: relative;

}


.businessName > p { /* ======================== 상호명 */
  width: 100%;
  /* height: 100%; */


  font-size: 2.6rem;
  font-weight: 600;

  padding-bottom: 15px;
  
  border-bottom: 2px solid black;
}

.schedule { /* ============================= 일정 추가  */

  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: nowrap;

  margin: 3px 0 5px 0;
}
.schedule > button {
  background-color: transparent;
  border : transparent; 
  padding: 0;
  margin: 5px 0;
  /* padding: 5px; */
  /* border-radius: 10px; */

}
.schedule > button > a {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  word-spacing: 0.6rem;
  
  background-color: #333;
  border : transparent ; 
  border-radius: 10px;
  padding: 5px 10px;
  

  cursor: pointer;
}



.schedule > button > a:visited{
  color: #fff;
}

.bookingLink { /* ======================= 예약페이지로 이동 */
  height: 60px;
  

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border: transparent;
}

.bookingLink > a {
  color: #fff;
  font-size: 2rem;
  margin: 0 auto;
  padding: 20px 118px;
  background-color: #333;
border: transparent;
border-radius: 10px;
}
.bookingLink > a:visited {
  color: #fff;
}

.detail, 
.address, 
.contact, 
.businessHours { /* ================ 콘텐츠 정보 */
  /* border: 1px dotted red ; */
  
  /* height: 90px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  
}

.detail > p , 
.address > p, 
.contact > p, 
.businessHours > p {
  font-size: 2rem;
  font-weight: 500;
}
.detail > p {
  margin-left: 20px;
  line-height: 120%;
  font-style: italic;
  font-weight: 300;
}

.summaryDesc > div > img {
  width: 20px;
  height: 20px;
  margin: 0 20px 0 10px;
}

/* =================================== 탭 메뉴 =============================*/
.tabMenu {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  border-top: #dadada 1px solid;
  
  position: relative;
}

.tabMenu ul {
  position: relative;
}

.tabMenu > ul > li {
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: #f9f9f9;
  line-height: 40px;
  
}

.tabMenu label {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.8rem;
  cursor: pointer;
}

.tabMenu input{display: none;} .tabContent {
  display: none;
  width: 100%;
  text-align: left;
  padding: 20px;
  position: absolute;
  left: 0;
  top:50px;
  box-sizing: border-box;
  border: 5px solid #f9f9f9;
}

.tabMenu input:checked ~ label {
  background-color: #ccc;
  font-weight: 600;
}

.tabMenu input:checked ~ .tabContent {
  display: block;
  
}

.tabMenu input:checked ~ .tabContent .replyBtn{
  display: inline-block;
}
.tabMenu input:checked ~ .tabContent .replyTxt{
  display: inline-block;
}

.tabContent {
font-size: 1.8rem;
}




.bxslider > div:nth-child(1) {
  width: 100%;
  height: 600px;
  background-image: url("../images/mapTest1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bxslider > div:nth-child(2) {
  width: 100%;
  height: 600px;
  background-image: url("../images/mapTest2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}