#divform{
    width: 70%;
    margin : 0 auto;
}


#noticeTable {
    width: 70%;
    border-collapse: collapse;
    margin : 0 auto;
}


th{
    font-size: 20px;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    width: 100px ;

}

td{
    font-size: 20px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    width: 100px ;

}

.truetdTitle a {
    font-size: 20px;
    text-decoration: none; /* 기본 링크 텍스트에 있는 밑줄 제거 */
    color: inherit; /* 기본 링크 색상 상속 */
}





.pagination{

    margin: 30px 0 0 0;
    padding: 0;
}

.title{
    font-size: 100px;
}

.pagination > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination > ul > li {
    padding: 0;
    margin: 0 2px 0 2px;
}


a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.pageMoveBtn > img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    object-fit: cover;

}
.pageDoubleMoveBtn > img {
    width: 30px;
    height: 30px;
}

.pageMoveBtn,
.pageDoubleMoveBtn
{
    display: inline-block;
    font-size: 0;
    /*background: url("../images/next.png") no-repeat 0 0;*/
    width: 30px;
    height: 30px;
    border: 1px solid #e6e6e6;
}
.page-link{
    font-size: 14px;
}

img{
    width: 20px;
    height: 20px;

}

.nowPage{
    font-size: 20px;
}







