main {
    width: 1180px;
    margin: 0 auto;
}

#insert-post-wrap {
    width: 100%;
}

#insert-post-wrap > h2 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #111;
    margin: 0 0 50px 0;
}
.post-title-wrapper {
    margin: 20px 0;
}
.post-title-wrapper > label {
    display: inline-block;
    font-size: 2.5rem;
    color: #111;
    margin: 0 0 30px 0;
}

.post-title-wrapper > input {
    margin-bottom: 20px;
}
.insert-post-title {
    width: 100%;
    font-size: 1.7rem;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #111;
    border: none;
    border-bottom: 1px solid #ddd;
}


.insert-post-title:focus {
outline: none;
}

.save-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

#save-post {
    padding: 10px 30px;
    font-size: 1.5rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    background: #116edb;
    color: #fff;
    margin: 20px 0 0 0;
    border: none;


}


/*.note-editable {*/
/*    font-size: 1.5rem; /*/
/*}*/

/*.note-toolbar {*/
/*    height: 30px;*/
/*}*/


/*.note-editable {*/
/*    margin-top: 10px; */
/*    overflow-y: auto;*/
/*}*/


/*.note-current-fontsize {*/
/*    font-size: 1.39rem;*/
/*}*/