main {
    width: 1180px;
    margin: 0 auto;
}

.page-title > h1 {
    font-size: 2.4rem;
    color: #111;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

}

.post-list-items-wrapper {
    width: 100%;
    padding: 35px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    cursor: pointer;
}

.user-part {
    width: 350px;
}

.user-part > ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.user-part > ul > li:nth-child(2),
.user-part > ul > li:nth-child(3) {
    margin-left: 7px;
}


.user-part > ul > li > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-part > ul > li > div {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    overflow: hidden;
}

.user-part > ul > li > span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111;
}

.user-part > ul > li:nth-child(3) > span {
    color: #bbb;
}

.content-part {
    width: 830px;
}

.post-items-title {
    margin-bottom: 20px;
}

.post-items-title > h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 500;
    font-size: 2.2rem;
    color: #111;
}

.post-items-images > ul {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.post-items-images > ul > li {
    margin-right: 10px;
}

.post-items-images > ul > li > div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    background: #ddd;
}

.post-items-images > ul > li > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-items-content {
    position: relative;
    max-height: 70px;
    overflow: hidden;
    margin-top: 20px;

}

.post-items-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);

}

.post-items-content > p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #111;
    line-height: 20px;
}

.post-bottom-wrapper {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.post-bottom-wrapper > button {
    font-family: "Noto Sans KR",sans-serif;
    font-size: 1.5rem;
    background: #116edb;
    color: #fff;
    padding: 10px 20px;
    border: none;
}


.post-bottom-wrapper > button:hover {
    background: #0f63c5;
}

.postSearchForm {
    /*margin-left: 350px;*/
}

.postSearchForm > form {
    display: flex;
    align-items: center;
}

.postSearchForm > form select {
    height: 41px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #888;
}

.postSearchForm > form input {
    height: 41px;
    box-sizing: border-box;
    border: 1px solid #888;
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
}

.postSearchForm > form input:focus {
    outline: none;
}

.postSearchForm > form button {
    font-family: "Noto Sans KR",sans-serif;
    font-size: 1.5rem;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin-right: 5px;
}

.postSearchForm > form button:last-child {
    background: transparent;
    border: 1px solid #888;
    padding: 9px 19px;
    color: #333;
}

.pagination {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.paginationList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.paginationList > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 1px solid #eee;
    margin-left: -1px;

}


.paginationList > li > a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 6px;
    font-size: 1.7rem;
    font-weight: 400;
    color: #333;
}



.paginationList > li > a:hover {
   color: #333;
    background: #eee;
    font-weight: 600;
}

.paginationList > li .active {
    background: #116edb;
    color: #fff;
    font-weight: 600;
}

.paginationList > li > a > i {
    font-size: 1.7rem;
    font-weight: 600;
    color: #888;
}

.xi-new{
    font-size: 1.8rem;
    color: #ff2f2f;
    margin-left: 5px;
    display: none;
}
