/* ============================================ 메인 */
main {
    width: 1180px;
    margin: 0 auto;
}

.formBox {
    margin: 120px auto 270px;
    width: 700px;
    padding: 30px 50px;
   border: 1px solid #ddd;
    box-sizing: border-box;
}


main  form {
    margin-bottom: 20px;
}

.formBox > div >  h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #111;
    text-align: center;
    margin-bottom : 20px;
}


form > ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:  flex-start;
    align-items: center;
}

form > ul > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form > ul > li > label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
    width: 110px;
    text-align: right;
    margin-right: 10px;
}

form > ul > li > input {
    padding: 7px 5px;
    height: 30px;
    width: 350px;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    font-weight: 400;
    color: #111;
    margin-right: 10px;
    justify-self: flex-start;
    border-radius: 5px;
}

form > ul > li > input::placeholder {
    color: #ccc;
    font-size: 1.5rem;
}


.formBox > div > div > h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
    text-align: center;
    margin-bottom: 15px;
}

form > ul > li > button {
    border: none;
    background: #116edb;
    color: #fff;
    height: 45px;
    border-radius: 5px;
    width: 100px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;

}