.wrapper {
    width: 1180px;
    margin: 0 auto;
}

/* =================================================================== 프로필 페이지 */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======================================================= 정보 변경  */
.profileStyle{
    /*display: inline-block;*/
    width: 90%;
    margin-top: 30px;
    padding: 20px;

    box-shadow: 0 1px 2px 0 rgba(51, 51, 51, 0.5);
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
/* ====================================== 버튼 전역 설정 */
.profileStyle button {
    border: transparent 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #333;
    color: #fff;
}

.profileStyle button:hover {
    background-color: #555;
    transition: 0.2s;
}
/* ===================================== 등록된 일정 */
.myScheduleList {
    width: 90%;
    margin-top: 30px;
    padding: 20px;

    box-shadow: 0 1px 2px 0 rgba(51, 51, 51, 0.5);
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.myScheduleList > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.myScheduleList > div > span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    height: 100%;
    display: inline-block;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
}
.myScheduleList > div > a {
    display: inline-block;
    height: 100%;
    width: 10%;

    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;

    padding: 8px 2px;
    box-shadow: 0 1px 2px 0 rgba(51, 51, 51, 0.5);

    border: transparent 1px solid;
    border-radius: 5px;
    background-color: #333;
    color: #fff;

}
.myScheduleList > div > a:hover {
    background-color: #555;
    transition: 0.2s;
}
.day-contents > ul {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 15px 0;
    box-sizing: border-box;
}
.day-contents > ul::-webkit-scrollbar {
    height: 10px;
}
.day-contents > ul::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.day-contents > ul > li {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin: 20px 20px 0 0;
    position: relative;
}
.day-contents > ul > li > img {
    width: 250px;
    height: 100px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 7px;
    background: #ffffff;
    object-fit: cover;
}
.day-contents > ul > li > span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #111;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;


}
.noDayContent > ul > li > span {
    font-size: 1.6rem;
    font-weight: 400;
    color: #111;
    display: inline-block;
    padding: 5px 0;
}




/* ==================================== 내정보 리스트 */
.profileStyle > div {
    margin: 20px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;

}
.profileStyle > div >button {
    /* 정보 수정 버튼 */
    padding: 10px 40px;
    font-size: 1.6rem;
}

.profileStyle > form > div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileStyle > form > div:first-child {
    align-items: center;
    flex-direction: column;
    height: 22rem;

}

.ImgPreview {
    position: relative;

}
.ImgPreview > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ImgPreview > div:first-child{
    width: 18rem;
    height: 18rem;
    border-radius: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;

}
.editIcon {
    border-radius: 70%;
    overflow: hidden;
    padding: 7px;
    width: 32px;
    height: 32px;
    background-color: #28536a;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    position: absolute;
    right: 10px;
    top:100%;
    transform: translate(0,-100%);
}
.editIcon  > label > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.editIcon > input {
    display: none;
}

.editIcon:hover {
    background-color: #333;
    transition: 0.2s;
    cursor: pointer;
}
.profileId {
    margin: 0 0 10px 0 ;
}
/* ========================================= 닉네임 및 정보수정 필드*/
.profileId > input{
    text-align: center;
    width: 100%;
    border: 1px transparent solid;
    padding: 3px 10px;
    background-color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
.profileStyle > form > div:last-child > div >img {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 7px;
    position: absolute;
    z-index: 2;

}

.profileStyle > form > div:last-child > div:nth-child(2),
.profileStyle > form > div:last-child > div:nth-child(4)  {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: start;
}

.profileStyle > form > div:last-child > div:nth-child(2) > input {
    width: 65%;
    font-size: 1.5rem;
    padding-left: 40px;
    font-weight: 600;
    border: 1px #777 solid;
    outline: none;
    position:relative;
}
.profileStyle > form > div:last-child > div:nth-child(4) > input {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 40px;
    font-weight: 600;
    border: 1px #777 solid;
    outline: none;
    position:relative;
}

.profileStyle > form > div:last-child > div > button {
    /* 중복체크 버튼 */
    width: 35%;
    font-size: 1.4rem;
    border-radius: 0;
    border: 1px #333 solid;
}
/* ==================================== 닉네임 에러  */
#nickNameErrs {
    width: 30%;
    height:25px;
    padding-left: 10px;
    color: red;
    line-height: 1.5;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
#err1 {
    display: inline;
    font-size: 11px;
}

/*.day-contents > ul {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.day-contents > ul > li > img {*/
/*    width: 30%;*/
/*    height: 30%;*/
/*}*/
